body
{
  width: 800px;
  background-color: #E9CF89;
  color: #244740;
  font-family: Arial;
  font-size: 16px;
  padding-left: 25px;
}

h1, p
{
  font-family: Bookman;
  text-align: center;
}

img
{
  height: 105px;
}

.axis path,
.axis line
{
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text
{
  font-size: 16px;
}
